body {
    margin: 0;
    font-family: "futura", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background-color: white;
    display: flex;
    min-height: 100vh;
}

.main {
    max-width: 1080px;
    margin: 10px;
    width: 80vw;
}

img {
    max-width: 99vw;
    width: 100%;
}

@media (max-width: 880px) {
    #root {
        flex-direction: column;
    }
    .main {
        width: auto;
    }
}
