body {
    margin: 0;
    font-family: "futura", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background-color: white;
    display: flex;
    min-height: 100vh;
}

#root > :not(.sidebar) {
    margin-top: 10px;
    max-width: 1080px;
    margin-left: 10px;
}

img {
    max-width: 99vw;
    width: 100%;
}

@media (max-width: 880px) {
    #root {
        flex-direction: column;
    }
}
