.logo {
    max-width: 228px;
    width: 20vw;
}

.sidebar {
    width: 20vw;
    max-width: 250px;
    min-height: 100vh;
}

.slider {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.title h1 {
    font-size: clamp(22px, 16px + 0.5vw, 25px);
}

.title p {
    font-size: clamp(14px, 12px + 0.2vw, 16px);
}

.mobile-menu {
    display: none;
}

@media (max-width: 1120px) {
    .title h1 {
        font-size: clamp(18px, 6px + 1.3vw, 22px);
    }
    .title p {
        font-size: calc(7px + 0.5vw);
    }
}

@media (max-width: 955px) {
    .title h1 {
        font-size: clamp(17.4px, 5px + 2vw, 18px);
    }
    .title p {
        font-size: calc(7px + 0.4vw);
    }
}

@media (max-width: 880px) {
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        min-height: 0;
        background-color: white;
        margin: 0 10px;
    }
    .logo {
        display: none;
    }
    .title h1 {
        font-size: calc(16px + 1vw);
    }
    .slider > nav {
        display: none;
    }
    .slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 20px);
    }
    .mobile-menu {
        display: block;
    }
}
