.logo {
    max-width: 228px;
    width: 20vw;
}

.sidebar {
    width: 20%;
    min-height: 100vh;
}

.slider {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.title h1 {
    font-size: calc(20px + 0.2vw);
}

.title p {
    font-size: calc(12px + 0.2vw);
}

.mobile-menu {
    display: none;
}

@media (max-width: 1120px) {
    .title h1 {
        font-size: calc(13px + 0.6vw);
    }
    .title p {
        font-size: calc(7px + 0.5vw);
    }
}

@media (max-width: 955px) {
    .title h1 {
        font-size: calc(13px + 0.5vw);
    }
    .title p {
        font-size: calc(7px + 0.4vw);
    }
}

@media (max-width: 880px) {
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 96vw;
        min-height: 0;
        background-color: white;
        margin-left: 10px;
    }
    .logo {
        display: none;
    }
    .title h1 {
        font-size: calc(16px + 0.7vw);
    }
    .slider > nav {
        display: none;
    }
    .slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-menu {
        display: block;
    }
}
